<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataProvider" value ="System.Data.SqlClient"/>
  </appSettings>
  <connectionStrings>
    <add name="GERADORDETESTE" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=GERADORDETESTE;Integrated Security=True;Pooling=False" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>